.profile{
    width: 1600px;
    width: 100%;
    display: flex;
   justify-content: center;
   align-items: center;
}

.profile-wrapper .container{
    display: flex;
}

.ps-md-4{
    margin-left: 40px;
    width: 920px;
    border: 1px solid #cad2c5;
    border-radius: 10px;
    display: flex;
}

.container_profile{
   display: flex;
}

.content{
    display: flex;
    width: 100%;
}

.toggle-edit-form{
    color: var(--c-primary);
}

.toggle-edit-form:hover{
    color: #8d99ae;
    cursor: pointer;
}

.d-inline-flex{
    font-size: 20px;
    color: #264653;
}

.d-inline-flex:hover{
    color: var(--c-primary);
}

.list-unstyled{
    padding-left: 20px;
}

.list-unstyled a{
    font-size: 15px;
    font-weight: 500;
}

.heading h5{
    font-size: 24px;
}

.heading p{
    font-size: 18px;
}


.row{
    font-size: 16px;
}

.setting-label{
    font-weight: 600;
}

.box-items-left{
    border: 1px solid #cad2c5;
    border-radius: 10px;
}

.miss-pass{
    font-weight: 600;
    font-size: 16px;
}

.nav-item .nav-link{
    color: #264653;
    font-weight: 600;
}

.form-control{
    width: 200px;
}

.text-end{
    margin-top: 40px;
}

.text-end button{
    background-color: var(--c-primary);
    border: 1px solid var(--c-primary);
}

.text-end button:hover{
    background-color: #565E64;
}

.setting-item{
    width: 840px;
    border-top: 1px solid #DEE2E6;
    padding-top: 20px;
    padding-bottom: 20px;
}

.col-sm-7 input{
    width: 250px;
}

.col-md-7{
    width: 275px;
}